{namespace sav=YolfTypo3\SavLibraryKickstarter\ViewHelpers}

<f:variable name="section" value="existingTables" />
<f:variable name="sectionItems" value="{extension.{section}}" />
<f:variable name="sectionItem" value="{sectionItems.{itemKey}}" />
<f:variable name="mvc" value="{sav:utility.getItem(
    value:{
        0:0,
        1:0,
        2:1,
        3:1
    },
    key:extension.general.1.libraryType)}" />
<f:variable name="sectionItemViewKey" value="{sectionItem.viewKey}" />   
<f:variable name="tempFolderKey" value="{sectionItem.folderKeys->sav:utility.getItem(key:sectionItemViewKey)}" />   
<f:variable name="selectedFolderKey" value="{f:if(condition:tempFolderKey, then:tempFolderKey, else:0)}" />   
<f:variable name="selectedFieldKey" value="{sectionItem.activeFields->sav:utility.getItem(key:sectionItemViewKey)->sav:utility.getItem(key:selectedFolderKey)}" />   

<div id="{section}Section">
	<f:form method="post" action="save" name="{section}"
		arguments="{extensionKey:extensionKey}">
		<f:form.hidden name="general[section]" value="{section}" />
		<f:form.hidden name="general[itemKey]" value="{itemKey}" />
		<f:form.hidden name="general[fieldKey]" value="{fieldKey}" />
		<f:form.hidden name="general[showFieldConfiguration]"
			value="{showFieldConfiguration}" />
		<div id="content">

			<f:comment>Header</f:comment>
			<f:render partial="Sections/Partials/Header" arguments="{_all}" />

			<div class="body">
				<div class="tableName">
					<f:comment>Table Name</f:comment>
					<label for="tablename"><f:translate
							key="kickstarter.{section}Item.tablename" /></label>
					<f:form.select id="tablename" name="{section}[tablename]"
						value="{sectionItem.tablename}"
						options="{sav:builder.options.forExistingTablesSelectorbox()}" />
				</div>

				<f:comment>Override the localization</f:comment>
				<label for="overrideLocalization"><f:translate
						key="kickstarter.{section}Item.overrideLocalization" /></label>
				<sav:form.checkbox id="overrideLocalization"
					class="checkbox clearNone"
					name="{section}[overrideLocalization]" value="1"
					checked="{sectionItem.overrideLocalization}" />

				<f:comment>Import fields</f:comment>
				<f:if condition="{sectionItem.tablename}">
					<label for="importFields"><f:translate
							key="kickstarter.{section}Item.importFields" /></label>
					<f:link.action action="{section}ImportFields"
						arguments="{extensionKey:extensionKey, section:section, itemKey:itemKey}">
						<f:image class="importFields"
							src="{sav:be.getIcon(identifier:'actions-database-import')}"
							alt="{f:translate(key:'kickstarter.importFields')}"
							title="{f:translate(key:'kickstarter.importFields')}" />
					</f:link.action>
				</f:if>
			</div>
		</div>

		<f:comment>Fields overview</f:comment>
		<f:render partial="Sections/Partials/TableFieldsOverview"
			arguments="{_all}" />

		<f:comment>Add the field Configuration</f:comment>
		<f:render partial="Sections/Partials/TableFieldConfiguration"
			arguments="{_all}" />

	</f:form>
</div>