{namespace sav=YolfTypo3\SavLibraryKickstarter\ViewHelpers}

<f:variable name="section" value="forms" />
<f:variable name="sectionItems" value="{extension.{section}}" />
<f:variable name="sectionItem" value="{sectionItems.{itemKey}}" />
<f:variable name="mvc" value="{sav:utility.getItem(
    value:{
        0:0,
        1:0,
        2:1,
        3:1
    },
    key:extension.general.1.libraryType)}" />

<div id="{section}Section">
	<f:form method="post" action="save" name="{section}"
		arguments="{extensionKey:extensionKey, section:section,itemKey:itemKey}">
		<f:form.hidden name="general[section]" value="{section}" />
		<f:form.hidden name="general[itemKey]" value="{itemKey}" />
		<div id="content">

			<f:comment>Header</f:comment>
			<f:render partial="Sections/Partials/Header" arguments="{_all}" />

			<div class="body">
				<f:comment>Item title</f:comment>
				<f:render partial="Sections/Partials/ItemTitle" arguments="{_all}" />

				<f:comment>Displayed if allowed</f:comment>
				<f:if condition="{isAllowed}">
					<f:comment>List View</f:comment>
					<div class="viewsDefinition">
						<label class="list" for="listView"><f:translate
								key="kickstarter.{section}Item.listView" /></label>
						<f:form.select id="listView" name="{section}[listView]"
							options="{options.list}" value="{sectionItem.listView}" />
							
						<f:comment>Adds caching checkbox if mvc</f:comment>	
                        <f:if condition="{mvc}">
						<sav:form.checkbox class="checkbox" id="listViewNotCached"
							name="{section}[listViewNotCached]" value="1"
							checked="{sectionItem.listViewNotCached}" />
						<label class="clearNone" for="listViewNotCached"><f:translate
								key="kickstarter.{section}Item.listViewNotCached" /></label>
                        </f:if>					
					</div>

					<f:comment>Single View</f:comment>
					<div class="viewsDefinition">
						<label class="single" for="singleView"><f:translate
								key="kickstarter.{section}Item.singleView" /></label>
						<f:link.action action="addNewViewWithCondition"
							arguments="{extensionKey:extensionKey, section:section, viewType:'singleView', itemKey:itemKey}">
							<f:image class="addNewViewWithCondition"
								src="{sav:be.getIcon(identifier:'actions-add')}"
								alt="{f:translate(key:'kickstarter.addNewViewWithCondition')}"
								title="{f:translate(key:'kickstarter.addNewViewWithCondition')}" />
						</f:link.action>
						<f:comment>The default Single View</f:comment>
						<f:form.select id="singleView" name="{section}[singleView]"
							options="{options.single}" value="{sectionItem.singleView}" />

                        <f:comment>Adds caching checkbox if mvc</f:comment> 
                        <f:if condition="{mvc}">
						<sav:form.checkbox class="checkbox" id="singleViewNotCached"
							name="{section}[singleViewNotCached]" value="1"
							checked="{sectionItem.singleViewNotCached}" />
						<label class="clearNone" for="singleViewNotCached"><f:translate
								key="kickstarter.{section}Item.singleViewNotCached" /></label>
                        </f:if>

						<f:comment>Single Views with Condition</f:comment>
						<f:for each="{sectionItem.viewsWithCondition.singleView}"
							as="viewWithCondition" key="viewWithConditionKey">
							<f:form.select
								name="{section}[viewsWithCondition][singleView][{viewWithConditionKey}][key]"
								options="{options.single}" value="{viewWithCondition.key}" />
							<f:form.textfield class="condition"
								name="{section}[viewsWithCondition][singleView][{viewWithConditionKey}][condition]"
								value="{viewWithCondition.condition}" />
							<f:link.action action="deleteViewWithCondition"
								arguments="{extensionKey:extensionKey, section:section, itemKey:itemKey, viewType:'singleView', viewWithConditionKey:viewWithConditionKey}">
								<f:image class="deleteViewWithCondition"
									src="{sav:be.getIcon(identifier:'actions-delete')}"
									alt="{f:translate(key:'kickstarter.delete')}"
									title="{f:translate(key:'kickstarter.delete')}" />
							</f:link.action>
						</f:for>
					</div>

					<f:comment>Edit View</f:comment>
					<div class="viewsDefinition">
						<label class="edit" for="editView"><f:translate
								key="kickstarter.{section}Item.editView" /></label>
						<f:link.action action="addNewViewWithCondition"
							arguments="{extensionKey:extensionKey, section:section, viewType:'editView', itemKey:itemKey}">
							<f:image class="addNewViewWithCondition"
								src="{sav:be.getIcon(identifier:'actions-add')}"
								alt="{f:translate(key:'kickstarter.addNewViewWithCondition')}"
								title="{f:translate(key:'kickstarter.addNewViewWithCondition')}" />
						</f:link.action>
						<f:comment>The default Edit View</f:comment>
						<f:form.select id="editView" name="{section}[editView]"
							options="{options.edit}" value="{sectionItem.editView}" />
						<f:comment>
							<!-- Edit Views with Condition -->
						</f:comment>
						<f:for each="{sectionItem.viewsWithCondition.editView}"
							as="viewWithCondition" key="viewWithConditionKey">
							<f:form.select
								name="{section}[viewsWithCondition][editView][{viewWithConditionKey}][key]"
								options="{options.edit}" value="{viewWithCondition.key}" />
							<f:form.textfield class="condition"
								name="{section}[viewsWithCondition][editView][{viewWithConditionKey}][condition]"
								value="{viewWithCondition.condition}" />
							<f:link.action action="deleteViewWithCondition"
								arguments="{extensionKey:extensionKey, section:section, itemKey:itemKey, viewType:'editView', viewWithConditionKey:viewWithConditionKey}">
								<f:image class="deleteViewWithCondition"
									src="{sav:be.getIcon(identifier:'actions-delete')}"
									alt="{f:translate(key:'kickstarter.delete')}"
									title="{f:translate(key:'kickstarter.delete')}" />
							</f:link.action>
						</f:for>
					</div>

					<f:comment>Special View</f:comment>
					<label class="special" for="specialView"><f:translate
							key="kickstarter.{section}Item.specialView" /></label>
					<f:form.select id="specialView" name="{section}[specialView]"
						options="{options.special}" value="{sectionItem.specialView}" />

					<f:comment>Query</f:comment>
					<label for="query"><f:translate
							key="kickstarter.{section}Item.query" /></label>
					<f:form.select id="query" name="{section}[query]"
						options="{options.query}" value="{sectionItem.query}" />

                    <f:comment>Adds caching checkbox if not mvc</f:comment> 
                    <f:if condition="{mvc} == 0">
					<f:comment>Caching</f:comment>
					<label for="userPlugin"><f:translate
							key="kickstarter.{section}Item.userPlugin" /></label>
					<sav:form.checkbox class="checkbox" id="userPlugin"
						name="{section}[userPlugin]" value="1"
						checked="{sectionItem.userPlugin}" />
					</f:if>
				</f:if>
			</div>
		</div>
	</f:form>
</div>

