{namespace sav=YolfTypo3\SavLibraryKickstarter\ViewHelpers}

<f:variable name="section" value="newTables" />
<f:variable name="sectionItems" value="{extension.{section}}" />
<f:variable name="sectionItem" value="{sectionItems.{itemKey}}" />
<f:variable name="mvc" value="{sav:utility.getItem(
    value:{
        0:0,
        1:0,
        2:1,
        3:1
    },
    key:extension.general.1.libraryType)}" />
<f:variable name="sectionItemViewKey" value="{sectionItem.viewKey}" />   
<f:variable name="tempFolderKey" value="{sectionItem.folderKeys->sav:utility.getItem(key:sectionItemViewKey)}" />   
<f:variable name="selectedFolderKey" value="{f:if(condition:tempFolderKey, then:tempFolderKey, else:0)}" />   
<f:variable name="selectedFieldKey" value="{sectionItem.activeFields->sav:utility.getItem(key:sectionItemViewKey)->sav:utility.getItem(key:selectedFolderKey)}" />   

<div id="{section}Section">
	<f:form method="post" action="save" name="{section}"
		arguments="{extensionKey:extensionKey}">
		<f:form.hidden name="general[section]" value="{section}" />
		<f:form.hidden name="general[itemKey]" value="{itemKey}" />
		<f:form.hidden name="general[fieldKey]" value="{fieldKey}" />
		<f:form.hidden name="general[showFieldConfiguration]"
			value="{showFieldConfiguration}" />
		<div id="content">

			<f:comment>Header</f:comment>
			<f:render partial="Sections/Partials/Header" arguments="{_all}" />

			<div class="body">
				<div class="tableName">
					<f:comment>Table Name</f:comment>
					<label for="tablename"><f:translate
							key="kickstarter.{section}Item.tablename" /> <span
						class="extensionKey">{sav:builder.tableName(shortName:'
							', extensionKey:extensionKey, mvc:mvc)}</span></label>
					<f:form.textfield id="tablename" name="newTables[tablename]"
						value="{sectionItem.tablename}" />

					<f:comment>Item title</f:comment>
					<f:render partial="Sections/Partials/ItemTitle"
						arguments="{_all}" />
				</div>

				<f:comment>Flags</f:comment>
				<f:render partial="Sections/Partials/NewTableFlags"
					arguments="{_all}" />

			</div>
		</div>

		<f:comment>Fields overview</f:comment>
		<f:render partial="Sections/Partials/TableFieldsOverview"
			arguments="{_all}" />

		<f:comment>Add the field Configuration</f:comment>
		<f:render partial="Sections/Partials/TableFieldConfiguration"
			arguments="{_all}" />
	</f:form>
</div>