{namespace sav=YolfTypo3\SavLibraryKickstarter\ViewHelpers}

<f:variable name="section" value="queries" />
<f:variable name="sectionItems" value="{extension.{section}}" />
<f:variable name="sectionItem" value="{sectionItems.{itemKey}}" />
<f:variable name="mvc" value="{sav:utility.getItem(
    value:{
        0:0,
        1:0,
        2:1,
        3:1
    },
    key:extension.general.1.libraryType)}" />
    
<div id="{section}Section">
	<f:form method="post" action="save" name="{section}"
		arguments="{extensionKey:extensionKey, section:'queries', itemKey:itemKey}">
		<f:form.hidden name="general[section]" value="{section}" />
		<f:form.hidden name="general[itemKey]" value="{itemKey}" />
		<div id="content">

			<f:comment>Header</f:comment>
			<f:render partial="Sections/Partials/Header" arguments="{_all}" />

			<div class="body">
				<f:comment>Item title</f:comment>
				<f:render partial="Sections/Partials/ItemTitle"
					arguments="{_all}" />

				<f:comment>Main Table</f:comment>
				<label for="mainTable"><f:translate
						key="kickstarter.{section}Item.mainTable" /></label>
				<f:alias
					map="{firtNewTable:'{extension.newTables->sav:utility.current()}'}">
					<f:alias
						map="{defaultTableName:'{sav:builder.tableName(shortName:firtNewTable.tablename, extensionKey:extensionKey, mvc:mvc)}'}">
						<f:form.textfield id="mainTable" name="{section}[mainTable]"
							value="{f:if(condition:sectionItem.mainTable, then:sectionItem.mainTable, else:defaultTableName)}" />
					</f:alias>
				</f:alias>

                <f:if condition="{mvc} == 0">
					<f:comment>Foreign Tables</f:comment>
					<label for="foreignTables"><f:translate
							key="kickstarter.{section}Item.foreignTables" /></label>
					<f:form.textarea id="foreignTables"
						name="{section}[foreignTables]"
						value="{sectionItem.foreignTables}"
						rows="{sectionItem.foreignTables->sav:utility.countLines()}"
						cols="80" />

					<f:comment>Aliases</f:comment>
					<label for="aliases"><f:translate
							key="kickstarter.{section}Item.aliases" /></label>
					<f:form.textarea id="aliases" name="{section}[aliases]"
						value="{sectionItem.aliases}"
						rows="{sectionItem.aliases->sav:utility.countLines()}"
						cols="80" />
                </f:if>

				<f:comment>Where Clause</f:comment>
				<label for="whereClause"><f:translate
						key="kickstarter.{section}Item.whereClause" /></label>
				<f:form.textarea id="whereClause" name="{section}[whereClause]"
					value="{sectionItem.whereClause}"
					rows="{sectionItem.whereClause->sav:utility.countLines()}"
					cols="80" />

				<f:comment>Order By Clause</f:comment>
				<label for="orderByClause"><f:translate
						key="kickstarter.{section}Item.orderByClause" /></label>
				<f:form.textarea id="orderByClause"
					name="{section}[orderByClause]"
					value="{sectionItem.orderByClause}"
					rows="{sectionItem.orderByClause->sav:utility.countLines()}"
					cols="80" />

                <f:if condition="{mvc} == 0">
					<f:comment>Group By Clause</f:comment>
					<label for="groupByClause"><f:translate
							key="kickstarter.{section}Item.groupByClause" /></label>
					<f:form.textarea id="groupByClause"
						name="{section}[groupByClause]"
						value="{sectionItem.groupByClause}"
						rows="{sectionItem.groupByClause->sav:utility.countLines())}"
						cols="80" />
                </f:if>
                
				<f:comment>WhereTags</f:comment>
				<div id="whereTagsDefinition">
					<label class="whereTags"><f:translate
							key="kickstarter.{section}Item.whereTags" /></label>
					<f:link.action action="addNewWhereTag"
						arguments="{extensionKey:extensionKey, section:section, itemKey:itemKey}">
						<f:image class="addNewWhereTag"
							src="{sav:be.getIcon(identifier:'actions-add')}"
							alt="{f:translate(key:'kickstarter.addNewWhereTag')}"
							title="{f:translate(key:'kickstarter.addNewWhereTag')}" />
					</f:link.action>
					<f:for each="{sectionItem.whereTags}" as="whereTag"
						key="whereTagKey">
						<label class="whereTag"><f:translate
								key="kickstarter.{section}Item.whereTags.title" /></label>
						<f:form.textfield class="whereTag"
							name="{section}[whereTags][{whereTagKey}][title]"
							value="{whereTag.title}" />
						<f:link.action action="deleteWhereTag"
							arguments="{extensionKey:extensionKey, section:section, itemKey:itemKey, whereTagKey:whereTagKey}">
							<f:image class="whereTagDelete"
								src="{sav:be.getIcon(identifier:'actions-delete')}"
								alt="{f:translate(key:'kickstarter.delete')}"
								title="{f:translate(key:'kickstarter.delete')}" />
						</f:link.action>
						<label class="whereTag"><f:translate
								key="kickstarter.{section}Item.whereTags.whereClause" /></label>
						<f:form.textarea class="whereTag"
							name="{section}[whereTags][{whereTagKey}][whereClause]"
							value="{whereTag.whereClause}"
							rows="{whereTag.whereClause->sav:utility.countLines()}"
							cols="50" />
						<label class="whereTag"><f:translate
								key="kickstarter.{section}Item.whereTags.orderByClause" /></label>
						<f:form.textarea class="whereTagLast"
							name="{section}[whereTags][{whereTagKey}][orderByClause]"
							value="{whereTag.orderByClause}"
							rows="{whereTag.orderByClause->sav:utility.countLines()}"
							cols="50" />
					</f:for>
				</div>

			</div>
		</div>
	</f:form>
</div>