{namespace sav=YolfTypo3\SavLibraryKickstarter\ViewHelpers}
<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    data-namespace-typo3-fluid="true"
>
<f:layout name="KickstarterExtensionListLayout" />

<f:section name="content">

	<div id="extensionList">
		<f:form name="extensionList" method="post"
			action="changeExtensionVersion">

			<div class="title">
				<ul>
					<li class="extensionName">{f:translate(key:'kickstarter.extensionList.extensionName')}</li>
					<li class="extensionVersion">{f:translate(key:'kickstarter.extensionList.extensionVersion')}</li>
					<li class="libraryVersion">{f:translate(key:'kickstarter.extensionList.libraryVersion')}</li>
					<li class="libraryType">{f:translate(key:'kickstarter.extensionList.libraryType')}</li>
					<li class="compatibility">{f:translate(key:'kickstarter.extensionList.compatibility')}</li>
					<li class="forms">{f:translate(key:'kickstarter.extensionList.forms')}</li>
					<li class="cache">{f:translate(key:'kickstarter.extensionList.cache')}</li>
					<li class="debugQueries">{f:translate(key:'kickstarter.extensionList.debugQueries')}</li>
					<li class="buttons">
					   <f:link.action action="createExtension">
							<core:icon 
								identifier="actions-add"
								title="{f:translate(key:'kickstarter.createExtension')}" />
						</f:link.action>
						<f:if condition="{extensionsNeedTobeUpgraded}">
                            <f:link.action action="upgradeExtensions">
								<core:icon
									identifier = "actions-system-extension-update"
									title="{f:translate(key:'kickstarter.upgradeExtensions')}" />
                            </f:link.action>
						</f:if>
					</li>
				</ul>
			</div>

			<div class="body">
				<f:for each="{extensionList}" as="extension">
					<f:variable name="mvc" value="{sav:utility.getItem(
					    value:{
					        0:0,
					        1:0,
					        2:1,
					        3:1
					    },
					    key:extension.general.1.libraryType)}" />				
								
					<ul class="{f:if(condition:extension.general.1.isLoadedExtension, then: 'loaded', else: 'notLoaded')}">
						<li class="extensionName">
                            <f:link.action
								action="editExtension"
								arguments="{extensionKey:extension.general.1.extensionKey}">{extension.general.1.extensionKey}
							</f:link.action>
						</li>
						<f:if
							condition="{0:showExtensionVersionSelector} == {0:extension.general.1.extensionKey}">
							<f:then>
								<li
									class="{sav:builder.classForExtensionVersion(extensionKey:extension.general.1.extensionKey, extensionVersion:extension.emconf.1.version)}">
									<f:form.select name="extensionVersion"
										options="{sav:builder.options.forExtensionVersionSelectorbox(extensionKey:extension.general.1.extensionKey)}"
										value="{extension.emconf.1.version}"/>
									<f:form.hidden name="extensionKey"
										value="{extension.general.1.extensionKey}" />
							        <f:comment>Save button</f:comment>
									<f:form.button class="submit" name="submitAction[save]"
										data="{
											toggle:'popover',
											content:'{f:translate(key:\'kickstarter.saving\')}',
											bs-toggle:'popover',
											bs-content:'{f:translate(key:\'kickstarter.saving\')}'
										}"
										value="{f:translate(key:'kickstarter.save')}">
										<core:icon 
											identifier="actions-save"
											title="{f:translate(key:'kickstarter.save')}" />
									</f:form.button>										
								</li>
							</f:then>
							<f:else>
								<li
									class="{sav:builder.classForExtensionVersion(extensionKey:extension.general.1.extensionKey, extensionVersion:extension.emconf.1.version)}"><f:link.action
										action="selectExtensionVersion"
										arguments="{extensionKey:extension.general.1.extensionKey}">{extension.emconf.1.version}</f:link.action></li>
							</f:else>
						</f:if>
						<li
							class="libraryVersion {f:if(condition:'{extension.general.1.currentLibraryVersion} != {extension.general.1.libraryVersion}',then:'wrongVersion')}">{extension.general.1.libraryVersion}</li>	
						<li class="libraryType"><f:image class="icon"
								src="EXT:sav_library_kickstarter/Resources/Public/Icons/Extension{f:translate(key:'kickstarter.generalItem.libraryType.{extension.general.1.libraryType}')}.svg"
								height="16" width="16" />{f:translate(key:'kickstarter.generalItem.libraryType.{extension.general.1.libraryType}')}</li>
						<li
							class="compatibility {f:if(condition:extension.general.1.wrongCompatibility,then:'wrongCompatibility')}">{extension.general.1.compatibility}</li>
						<li class="forms">
							<ul>
								<f:for each="{extension.forms}" as="form">
									<li>
										<div class="formName">{form.title}</div>
										<div class="cache">
											<f:if condition="{form.userPlugin} == 1 && {isMvc} == 0">
												<core:icon
													identifier = "actions-check"
													title="{f:translate(key:'kickstarter.checked')}" />
											</f:if>
										</div>
									</li>
								</f:for>
							</ul>
						</li>
						<li class="debugQueries"><f:if
								condition="{extension.general.1.debug}">
								<core:icon
									identifier="overlay-warning"
									title="{f:translate(key:'kickstarter.checked')}" />
							</f:if></li>
						<li class="buttons">
						
						<f:comment>Edit extension</f:comment> 
						<f:link.action
								action="editExtension"
								arguments="{extensionKey:extension.general.1.extensionKey}">
								<core:icon
									identifier = "actions-document"
									title="{f:translate(key:'kickstarter.editExtension')}" />
						</f:link.action> 
						
						<f:comment>Generates extension</f:comment> 
						<f:link.action
								action="generateExtension"
								data="{
									toggle:'popover',
									content:'{f:translate(key:\'kickstarter.generating\')}',
									bs-toggle:'popover',
									bs-content:'{f:translate(key:\'kickstarter.generating\')}'
								}"
								arguments="{extensionKey:extension.general.1.extensionKey}">
								<core:icon
									identifier="actions-system-refresh"
									title="{f:translate(key:'kickstarter.generateExtension')}" />
						</f:link.action>
						 									
						<f:comment>Upgrades the extension</f:comment> 
						<f:if
							condition="{extension.general.1.extensionMustbeUpgraded}">
							<f:link.action action="upgradeExtension"
								data="{
									toggle:'popover',
									content:'{f:translate(key:\'kickstarter.upgrading\')}',
									bs-toggle:'popover',
									bs-content:'{f:translate(key:\'kickstarter.upgrading\')}'
								}"
								arguments="{extensionKey:extension.general.1.extensionKey}">
								<core:icon
									identifier="actions-system-extension-update"
									title="{f:translate(key:'kickstarter.upgradeExtension')}" />
							</f:link.action>
						</f:if>
					</ul>
				</f:for>
            </div>
		</f:form>
	</div>
</f:section>
</html>
