{namespace sav=YolfTypo3\SavLibraryKickstarter\ViewHelpers}
<f:layout name="KickstarterSectionLayout.html" />

<f:section name="menu">
	<f:render partial="Menus/Menu"
		arguments="{
            extensionKey:extensionKey, 
            extension:extension,
            selectedItem:'views_{itemKey}',
            isAllowed:isAllowed
        }" />
</f:section>

<f:section name="content">
	<f:render partial="Sections/ViewsSection"
		arguments="{
            extensionKey:extensionKey,
            extension:extension,
            itemKey:itemKey,
            options:options,
            isAllowed:isAllowed
        }" />
</f:section>

