{namespace sav=YolfTypo3\SavLibraryKickstarter\ViewHelpers}
<f:spaceless>
	<f:alias
		map="{
    libraryRootLabel:'kickstarter.generalItem.libraryType.',
    libraryType:'{extension.general.1.libraryType}'
    }">
		<f:alias map="{libraryLabel:'{libraryRootLabel}{libraryType}'}">
			<f:variable name="libraryName">{f:translate(key:libraryLabel)->sav:format.upperCamel()}</f:variable>
			<f:variable name="isAllowed">{f:if(condition:'{libraryType} == 3', then:0, else:1)}</f:variable>
			<f:variable name="isMvc">{sav:utility.getItem(
			    value:{
			        0:0,
			        1:0,
			        2:1,
			        3:1
			    },
	    			key:extension.general.1.libraryType)}</f:variable>

			<f:be.pageRenderer
				includeCssFiles="{0: 'EXT:sav_library_kickstarter/Resources/Public/Css/Module.css'}" />
            <div class="module">
				<div id="savLibraryKickstarter" class="typo3-fullDoc">
					<div id="typo3-docbody">
						<div id="header">
							<div class="logo">
								<div class="kickstarterTitle">
									<span><f:translate key="kickstarter.title"
											arguments="{0:libraryName}" /></span> <span>{savLibraryKickstarterVersion}</span>
								</div>
								<div class="extensionTitle">
									<span>{extensionKey}</span> <span>v{extension.emconf.1.version}</span>
									<f:if condition="{extensionNotLoaded}">
										<span class="extensionNotLoaded"><f:translate
												key="kickstarter.extensionNotLoaded" /></span>
									</f:if>
									<f:if condition="{extension.general.1.debug}">
										<span class="debugQueryOn"><f:translate
												key="kickstarter.debugQueryOn" /></span>
									</f:if>
								</div>
							</div>
						</div>
						<f:flashMessages />
						<f:format.raw>
							<sav:link.anchor key="kickstarterTop" />
						</f:format.raw>

						<f:comment>Render the menu section</f:comment>
						<f:render section="menu" arguments="{_all}" />

						<f:comment>Render the content section</f:comment>
						<f:render section="content" arguments="{_all}" />
					</div>
				</div>
			</div>
		</f:alias>
	</f:alias>
</f:spaceless>