{namespace sav=YolfTypo3\SavLibraryKickstarter\ViewHelpers}

<div class="header">
	<div class="logo">
		<f:translate key="kickstarter.{section}SectionTitle" />
	</div>
	<div class="buttons">
        <f:comment>Help button</f:comment>
		<sav:be.buttons.help key="{section}" />

        <f:comment>Save button</f:comment>
		<f:form.button class="submit" name="submitAction[save]"
			data="{
				toggle:'popover',
				content:'{f:translate(key:\'kickstarter.saving\')}',
				bs-toggle:'popover',
				bs-content:'{f:translate(key:\'kickstarter.saving\')}'
			}"
			value="{f:translate(key:'kickstarter.save')}">
			<core:icon 
				identifier="actions-save"
				title="{f:translate(key:'kickstarter.save')}" />
		</f:form.button>

        <f:comment>Generate button</f:comment>		
		<f:form.button class="submit" name="submitAction[generateExtension]"
			data="{
				toggle:'popover',
				content:'{f:translate(key:\'kickstarter.generating\')}',
				bs-toggle:'popover',
				bs-content:'{f:translate(key:\'kickstarter.generating\')}'
			}"
			value="{f:translate(key:'kickstarter.generate')}">
			<core:icon
				identifier="actions-system-refresh"
				title="{f:translate(key:'kickstarter.generateExtension')}" />
		</f:form.button>
	</div>
</div>
